<div id={{id}} class="jw-option">
	<div class="jw-thumbnail-container" style="background-image:url({{image}})">
                <span class="list-menu"></span>
		<!--<img class="jw-thumbnail" src="{{image}}"/>-->
	</div>
	<div class="jw-metadata-container">
		<h3 class="jw-media-title">{{title}}</h3>
		<p class="jw-media-description">{{desc}}</p>
		<!--<time class="jw-media-duration">{{dur}}</time>-->
	</div>
</div>